*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,body{
    width:100%;
    height:100%;
    overflow:hidden;
    background:transparent;
}

#overlay{
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;

    background-image:url("overlay.png");
    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;

    pointer-events:none;
    user-select:none;
}
